html, body {
    height: 100dvh;
}

body {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    justify-content: center;
    margin: 0;
}
